
*{
	margin:0px;
	padding: 0px;
}
#container{
	width: 400px;
	height: 200px;
	border: 1px solid #eee;
	overflow: hidden;
}
#menu
{
	padding: 0px;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	padding: 0px;
}
#menu ul li,#menu ul li a{
	display: inline-block;
	float: left;
	width: 100px;
	text-align: center;
}
a
{
	text-decoration: none;
	margin: 0px;
}
.mod
{
	width: 400px;
	height: 160px;
	display: none;
}
.select{
	background-color: #eee;
}

