
*{
        padding: 0px;
        margin: 0px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    #container{
        width: 250px;
        font-size: 14px;
        margin: 100px auto;
    }
    #container ul li{
        display: block;
        float: left;
        border: 1px #eee solid;
        position: relative;
        padding: 20px 15px 5px 15px;
    }
    #container ul li:hover{
        border: 1px #f40 solid;
    }
    #container ul li p{
        color: #999;
        margin-top: 24px;
    }
    #container ul li p:hover{
        color: #f40;
    }
    #container ul li span{
        color: #f40;
        top: 20px;
        left: 50%;
        margin-left: -10px;
        position: absolute;
    }

